.main   { 
    margin-left: 300px;
    font-size: 28px; 
    padding: 0px 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.main   { 
    margin-left: 300px;
    font-size: 28px; 
    padding: 0px 10px;
}

.blah-list{
    max-width : 50rem; 
}

.task-card{
    width: 35rem;
    height: 13rem;
    display: inline-block;
    border: 1px solid #81b214;
    margin-bottom: 50px;
    margin-left: 20px;
    float: left;
    cursor: pointer;

    
}

.input-field{
        display: inline-flex;
        width: 15rem;
        margin-left: 2.5rem;
        margin-top: 1rem;
}

.mat-card-header-text{
    margin : 0  0 !important;
}
