<div class="main container-fluid">
  <div class="blah-list">
    <mat-card class="task-card" *ngFor="let task of schedule; let i = index">
      <div>
        <mat-card-header>
          <div mat-card-avatar>
            <input  type="checkbox" [(ngModel)]="task.isCompleted" class="checkbox" name="isCompleted{{i}}" (change)="taskUpdated()">
          </div>
          <mat-card-title style="margin:0">
            <select [(ngModel)]="task.taskName" name="taskCategory{{i}}" (change) = "onTaskChange(i)">
              <option value = "">Select Task</option>
              <option *ngFor="let category of taskCategory" [value]="category.taskName">{{category.taskName}}</option>
            </select>

            <div class="time-left" *ngIf = "task.timeLeft">
              <p > {{task.timeLeft | minuteSecond}} </p>
            </div>

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="input-field">
          <input type="text" [(ngModel)]="task.toDo" name="toDo{{i}}" placeholder="Task for today" [(disabled)] = "isSaved">
        </mat-card-content>
        <mat-card-content class="input-field">
          <input type="number" [(ngModel)]="task.timeCommitted" name="timeCommitted_{{i}}"
            placeholder="Time to commit (in minutes)" [(disabled)] = "isSaved">
        </mat-card-content>
        <mat-card-content class="input-field">
          <input type="text" [(ngModel)]="task.workDone" name="toBeDoneNext{{i}}" [(disabled)]="!task.isCompleted"
            placeholder="Work Done">
        </mat-card-content>
        <mat-card-content class="input-field">
          <input type="text" [(ngModel)]="task.toBeDoneNext" name="workDone{{i}}" [(disabled)]="!task.isCompleted"
            placeholder="Task for next time">
        </mat-card-content>
        <mat-card-content class="input-field">
          <img src="../assets/start-icon.png" height="28px" width="28px" (click)="startTimer(i)">
        </mat-card-content>
        <mat-card-content class="input-field">
          <img src="../assets/pause-icon.png" height="28px" width="28px" (click)="pauseTimer(i)">
        </mat-card-content>
      </div>

    </mat-card>
    <div>
      <img src="../assets/plus-icon.png" height="40px" width="40px" (click)="addTask()" *ngIf = 'isSaved'>
    </div>
    <div *ngIf = "schedule.length > 0">
      <button type="submit" (click)="saveSchedule()" [disabled]="isSaved">Save</button>
      <button type="update" (click)="updateSchedule()" [disabled] = "!taskCompleted && !isSaved">Update</button>
    </div>
  </div>

</div>