<div class="main container-fluid">
  <form #scheduleForm="ngForm">
    <!-- <select [(ngModel)]="task.task">
        <option></option>
      </select> -->
    <table>
      <tr *ngFor="let task of schedule; let i = index">
        <td>
          <select [(ngModel)]="task.taskName" name="taskCategory_{{i}}">
            <option *ngFor="let category of taskCategory" [value]="category.taskName">{{category.taskName}}</option>
          </select>
        </td>
        <td> <input type="text" [(ngModel)]="task.toDo" name="toDo_{{i}}"> </td>
        <td> <input type="number" [(ngModel)]="task.timeCommitted" name="timeCommitted_{{i}}"> </td>
        <td> <img src="../assets/start-icon.png" height="35px" width="35px"> </td>
        <td> <img src="../assets/pause-icon.png" height="35px" width="35px"> </td>
        <td> <img src="../assets/stop-icon.png" height="35px" width="35px"> </td>
      </tr>
      <tr>
        <td><img src="../assets/plus-icon.png" height="40px" width="40px" (click)="addTask()"></td>
        <td><button type="submit" (click)="saveSchedule()">Save</button></td>
      </tr>
    </table>
    
  </form>

</div>